body {
    background-color: darkgray;
    text-align: center;
}

.main-content .heading {
    color: white;
    font-size: 30px;
}

li {
    margin-bottom: 15px;
}

a {
    font-size: 25px;
    background-color: lightgray;
    color: blue;
    text-decoration: none;
}